.controller.ds4 {
  background-image: url(base.png) !important;
}

.ds4 .stick {
  background-image: url(sticks.png) !important;
}

.ds4 .face {
  background-image: url(dpad.png) !important;
}

.ds4 .bumper {
    background-image: url(bumper.png) !important;
}

.ds4 .trigger {
    background-image: url(triggers.png) !important;
}

.ds4 .touchpad.pressed {
    background-image: url(https://uncleclapton.github.io/GamepadViewer-PurpleWhiteSkin/svgs/touchpad.svgz) !important;
}

.ds4 .back, .ds4 .start {
    background-image: url(start.png) !important;
}
